body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:radial-gradient(#161b24,#030a2c);
  color:#e9dada;
}

.welcome{
  background:rgba(255,255,255,.05);
  padding:35px;
  border-radius:20px;
  text-align:center;
  backdrop-filter:blur(15px);
  box-shadow:0 20px 50px rgba(0,0,0,.6);
  animation:float 4s ease-in-out infinite;
}

/* it's for the animation*/
@keyframes float{
  50%{transform:translateY(10px);}
}

h1{
    font-size:28px;
    margin-bottom:10px;
}
p{
    color:#636566;
}

.Enterbtn{
  padding:12px 22px;
  border:0;
  border-radius:10px;
  background:#5185d8;
  color:#2b2525;
  cursor:pointer;
}

.btn-view{
    display: flex;
    align-items: end;
}
